.root,
body {
	background-color: #000000;
	color: #fff;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.expandable {
	transition: height 0.5s;
}
.square-text {
	width: 16px;
	height: 16px;
	align-items: center;
}
.text-wrap {
	text-wrap: wrap;
}
.col, 
.row {
	display: flex;
}
.col {
	flex-direction: column;
}
.row {
	flex-direction: row;
}
.ui {
	padding: 0.5rem;
}
.long-text {
	width: 200px;
	overflow: auto;
	text-wrap: wrap;
}
.grow {
	flex-grow: 1;
	flex-basis: 0;
}
input {
	color: #fff;
	background-color: #333;
	border: 0px solid #444;
}
input:focus {
	outline: none;
}
.title {
	text-transform: uppercase;
	padding: 0.5rem;
	background-color: #222;
	font-size: 0.5rem;
}
.button {
	justify-content: center;
	border: 1px solid #000000;
}
.button:hover {
	cursor: pointer;
	border: 1px solid #fff;
}
.scroll-y {
	overflow-y: auto;
	height: 0px;
}
.expandable {
	transition: height 0.5s;
}